@import-normalize; /* bring in normalize.css styles */
/* @import 'node_modules/modern-normalize/modern-normalize.css'; */

Reset styles *,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul,
li,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  overflow-wrap: break-word;
  box-sizing: border-box;
}
/* div {
  margin: 0 auto;
} */

footer,
header,
menu,
nav,
section {
  display: block;
}

a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  margin: 0px;
}

:root {
  --primary-accent-color: #5cd3a8;
  --secondary-accent-color: #ebd8ff;
  --title-color: #009688;
  --primaru-text-color: #373737;
  --bg-color: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  --img-bg-color: #5736a3;
  --card-box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  --line-box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
  --btn-box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  --primary-box-shadow: 0 0 0 2px var(--primary-accent-color),
    0 3px 8px 0 var(--primary-accent-color);
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #000;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #000;
}

h4 {
  text-align: center;
  margin-top: 20px;
  color: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
